.App {
  text-align: center;
  background-color: #000040;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #E0E0E0;
}